// Place all the styles related to the widget controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  max-width: 64px;
}
.ui-card {
  .image {
    width: 75%;
    margin: 0 auto;
  }
}

#temp {
  width: 400px;
  display: inline;
}
