// Place all the styles related to the widget controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  max-width: 64px;
}
.ui-card {
  .image {
    width: 85%;
    margin: 0 auto;
  }
}

.ui.grid {

  #info {
    padding: 0;
    margin-bottom: 10px;
  }

  .column {
    #location {
      margin-top: 10px;
    }
    #forecast {
      margin-top: -10px;
    }
  }
}

.ui.list {
  .item {
    // margin: 15px 0;
  }
}

// .center {
//   width: 75%;
//   margin: 0 auto;
// }

#temp {
  width: 400px;
  display: inline;
}

#target {
  margin: 10px;
  width: 420px;
  height: 260px;
}

#location {
  width: 100%;
}

#forecast {
  margin-top: 25px;
}
